body{
height: 100vh; width: 100vw;
position: relative;

background: linear-gradient(45.94deg, #000000 22.49%, #101010 75.74%);

color: white;
}
main{
    display: flex;
}
article{
    padding: 60px 128px;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav .logo{
    /* width: 0; */
    display: flex;
    /* width: max-content; */
}
nav .logo p{
    margin: 0 12px;
    /* margin-left: 12px; */
}
nav .links{
    width: 331px;
    display: flex;
    justify-content: space-between;
}
nav .links a{
    text-decoration: none;
    color: hsla(0, 0%, 100%, 50%);
}
main > img{
    max-width: 687px;
}

 /*
Sing Up - Desktop

position: relative;
width: 1440px;
height: 1024px;

background: linear-gradient(45.94deg, #000000 22.49%, #101010 75.74%);


 Img 

position: absolute;
width: 687px;
height: 1030px;
left: 753px;
top: calc(50% - 1030px/2);

background: url(Blackout Sale-  Doyoueven.jpg);


 Create a new account 

position: absolute;
width: 439px;
height: 59px;
left: 128px;
top: 218px;

 H1 semibold 
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 39.06px;
line-height: 59px;
 identical to box height 

 White 
color: #FFFFFF;



 Already a member? Log in 

position: absolute;
width: 262px;
height: 30px;
left: 128px;
top: 283px;

 H4 Regular 
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
 identical to box height 

 White 
color: #FFFFFF;



 Start for free 

position: absolute;
width: 189px;
height: 38px;
left: 128px;
top: 174px;

 H3 Regular 
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
 identical to box height 
text-transform: uppercase;

 White 
color: #FFFFFF;

opacity: 0.7;


 Information Buttons 

 Auto layout 
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 0px 0px 24px;
gap: 2px;

position: absolute;
width: 240px;
height: 64px;
left: 128px;
top: 375px;

 Grey 
background: #171717;
 Button Shadow 
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
border-radius: 8px;


 Name 

width: 37px;
height: 13px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 110%;
 or 13px 

color: #FFFFFF;

opacity: 0.5;

 Inside auto layout 
flex: none;
order: 0;
flex-grow: 0;


 Daniel 

width: 44px;
height: 21px;

 Body regular 
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
 identical to box height 

color: #FFFFFF;


 Inside auto layout 
flex: none;
order: 1;
flex-grow: 0;


 Information Buttons 

 Auto layout 
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 0px 0px 24px;
gap: 2px;

position: absolute;
width: 240px;
height: 64px;
left: 392px;
top: 375px;

 Grey 
background: #171717;
 Button Shadow 
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
border-radius: 8px;


 Name 

width: 64px;
height: 13px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 110%;
 or 13px 

color: #FFFFFF;

opacity: 0.5;

 Inside auto layout 
flex: none;
order: 0;
flex-grow: 0;


 Daniel 

width: 76px;
height: 21px;

 Body regular 
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
 identical to box height 

color: #FFFFFF;


 Inside auto layout 
flex: none;
order: 1;
flex-grow: 0;


 Long information button 

 Auto layout 
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 24px;
gap: 51px;

position: absolute;
width: 504px;
height: 64px;
left: 128px;
top: 467px;

 Grey 
background: #171717;
border-radius: 8px;


 Information 

 Auto layout 
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

margin: 0 auto;
width: 202px;
height: 36px;


 Inside auto layout 
flex: none;
order: 0;
flex-grow: 0;


 Mail 

width: 25px;
height: 13px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 110%;
 or 13px 

color: #FFFFFF;

opacity: 0.5;

 Inside auto layout 
flex: none;
order: 0;
flex-grow: 0;


 Danielhernan06@catch.com 

width: 202px;
height: 21px;

 Body regular 
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
 identical to box height 

color: #FFFFFF;


 Inside auto layout 
flex: none;
order: 1;
flex-grow: 0;


 tabler:mail-filled 

margin: 0 auto;
width: 24px;
height: 24px;


 Inside auto layout 
flex: none;
order: 1;
flex-grow: 0;


 Group 

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



 Vector 

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



 Vector 

position: absolute;
left: 8.33%;
right: 8.33%;
top: 31.4%;
bottom: 16.67%;

background: #FFFFFF;


 Vector 

position: absolute;
left: 10.19%;
right: 10.19%;
top: 16.67%;
bottom: 50.85%;

background: #FFFFFF;


 Password button 

 Auto layout 
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 24px;
gap: 51px;

position: absolute;
width: 504px;
height: 64px;
left: 128px;
top: 559px;

 Grey 
background: #171717;
 Button Shadow 
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
border-radius: 8px;


 Information 

 Auto layout 
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

margin: 0 auto;
width: 123px;
height: 36px;


 Inside auto layout 
flex: none;
order: 0;
flex-grow: 0;


 Password 

width: 58px;
height: 13px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 110%;
 or 13px 

color: #FFFFFF;

opacity: 0.5;

 Inside auto layout 
flex: none;
order: 0;
flex-grow: 0;


 ●●●●●●●● 

width: 123px;
height: 21px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
 identical to box height 
letter-spacing: 0.2em;

color: #FFFFFF;


 Inside auto layout 
flex: none;
order: 1;
flex-grow: 0;


 mdi:eye-off 

margin: 0 auto;
width: 24px;
height: 24px;


 Inside auto layout 
flex: none;
order: 1;
flex-grow: 0;


 Vector 

position: absolute;
left: 4.17%;
right: 4.17%;
top: 12.5%;
bottom: 8.33%;

background: #FFFFFF;


 CTA Button 

 Auto layout 
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 24px;
gap: 51px;

position: absolute;
width: 504px;
height: 64px;
left: 128px;
top: 651px;

 Yellow 
background: #FBCE18;
 Light yellow shadow 
box-shadow: 0px 0px 15px rgba(251, 206, 24, 0.1);
border-radius: 8px;


 Information 

 Auto layout 
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

margin: 0 auto;
width: 112px;
height: 21px;


 Inside auto layout 
flex: none;
order: 0;
flex-grow: 0;


 Create Account 

width: 112px;
height: 21px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
 identical to box height 

 White 
color: #FFFFFF;


 Inside auto layout 
flex: none;
order: 0;
flex-grow: 0;


 Topnavigation bar 

 Auto layout 
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 60px;

position: absolute;
width: 466px;
height: 21px;
left: 128px;
top: 60px;



 Logo 

 Auto layout 
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

margin: 0 auto;
width: 71px;
height: 21px;


 Inside auto layout 
flex: none;
order: 0;
flex-grow: 0;


 Catch logo 

width: 16px;
height: 16px;


 Inside auto layout 
flex: none;
order: 0;
flex-grow: 0;


 Cath logo 

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

 White 
background: #F9FCFE;


 Subtract 

position: absolute;
left: 41.5%;
right: 0%;
top: 39.86%;
bottom: 0%;

 White 
background: #F9FCFE;
border-radius: 2px;


 Rectangle 21 

position: absolute;
left: 41.5%;
right: 0%;
top: 39.86%;
bottom: 0%;

 White 
background: #F9FCFE;
border-radius: 1px;


 Ellipse 1 

position: absolute;
left: 59.86%;
right: -31.29%;
top: 59.44%;
bottom: -32.87%;

 Grey 
background: #161616;


 Subtract 

position: absolute;
left: 58.5%;
right: -17.01%;
top: 60.14%;
bottom: -20.28%;

 White 
background: #F9FCFE;
border-radius: 2px;
transform: rotate(-180deg);


 Rectangle 21 

position: absolute;
left: 58.5%;
right: -17.01%;
top: 60.14%;
bottom: -20.28%;

 White 
background: #F9FCFE;
border-radius: 1px;
transform: rotate(-180deg);


 Ellipse 1 

position: absolute;
left: 40.14%;
right: -11.56%;
top: 40.56%;
bottom: -13.99%;

 Grey 
background: #161616;
transform: rotate(-180deg);


 Catch 

width: 43px;
height: 21px;

 Body regular 
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
 identical to box height 

color: #FFFFFF;


 Inside auto layout 
flex: none;
order: 1;
flex-grow: 0;


 top nav bar  

 Auto layout 
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px;

margin: 0 auto;
width: 331px;
height: 21px;

opacity: 0.5;

 Inside auto layout 
flex: none;
order: 1;
flex-grow: 0;


 Home 

width: 42px;
height: 21px;

 Body regular 
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
 identical to box height 

color: #FFFFFF;


 Inside auto layout 
flex: none;
order: 0;
flex-grow: 0;


 Products 

width: 62px;
height: 21px;

 Body regular 
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
 identical to box height 

color: #FFFFFF;


 Inside auto layout 
flex: none;
order: 1;
flex-grow: 0;


 App 

width: 29px;
height: 21px;

 Body regular 
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
 identical to box height 

color: #FFFFFF;


 Inside auto layout 
flex: none;
order: 2;
flex-grow: 0;


 Join our gym’s 

width: 102px;
height: 21px;

 Body regular 
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
 identical to box height 

color: #FFFFFF;


 Inside auto layout 
flex: none;
order: 3;
flex-grow: 0;

